.header{
    background: #009dc4;
    color: #fff;
    width:100%;
    height: 15%;
    text-align: center;
    position: absolute;
    top: 0;
    left:0;
}

.footer{
    background: #444;
    color:#aaa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    text-align: center;
}

h2{
    margin: 20px 0;
    padding:20px 0;
}

.caution{
    margin: 50px 0 0 0;
}
/* 
.body-wrapper{
    position: absolute;
    top: 15%;
    left: 47%;
    margin: 6px 0 0 0;
} */